<%= form_with(model: post, local: true, url: url) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <% if @post.new_record? %>
          <h4 class="card-title"><b>New post</b></h4>
          <% else %>
          <h4 class="card-title">
            <b>Edit</b>
            <span><%= @post.title %></span>
          </h4>
          <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="field">
              <%= form.label :title %>
              <%= form.text_field :title, id: :post_title %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :banner_image_url %>
              <%= form.text_field :banner_image_url, id: :post_banner_image_url %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :description %>
              <%= form.text_area :description, id: :post_description %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= form.label :tags, "Tags" %>
              <%= form.text_field :tag_list, id: :post_tags %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="actions">
              <%= form.submit "Save blog post", :class => "btn btn-block btn-primary" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="field">
        <%= form.trix_editor :body, :rows => 50 %>
      </div>
    </div>
  </div>

<% end %>
